@charset "UTF-8";

body{
  background-color: rgba(18, 106, 230, 0.852);
  font: normal 15pt Arial, Helvetica, sans-serif;
}

header{
  color: white;
  text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.426);
}

div{
  padding: 10px;
  text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}